.MO-nmo {
  font-display: swap;
  font-family: 'Pretendard', 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
  font-synthesis: none;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 600px; /* 최대 너비를 600px로 설정 */
  top: 0;
  display: flex;
  flex-direction: column; /* 자식 요소를 세로로 정렬 */
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* body 요소의 애니메이션 */
.fade-in-body {
  opacity: 0;
  animation: fadeIn 0.6s ease-out 0.1s forwards;
}

/* 이미지 요소의 애니메이션 */
.fade-in-image {
  opacity: 0;
  animation: fadeIn 0.9s ease-out 0.6s forwards;
}

.MO-nmo .header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 117px;
  min-height: 117px;
  justify-content: space-between;
  background-color: inherit; 
  z-index: 2;
}

.MO-nmo .header-image {
  position: absolute; /* 절대 위치로 배치 */
  right: 0px; /* 오른쪽 끝에서 16px 떨어뜨림 */
  top: -15px; /* 세로 중앙에 배치 */
  z-index: 0;
}

.MO-nmo .header-image img {
  width: 220px;
  height: 220px;
  object-fit: cover;
}

.MO-nmo .day-wrapper {
  display: flex;
  height: 40px;
  padding: 12px 16px 0px 16px;
  align-items: center;
  gap: 4px;
}

.MO-nmo .date {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.1px;
}

.MO-nmo .day {
  /* Heading/font_heading_5B */
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.1px;
}

.MO-nmo .title-wrapper {
  display: flex;
  width: 100%;
  height: 56px;
  padding: 8px 8px 8px 4px;
  align-items: center;
  gap: 12px;
}

.MO-nmo .title {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 14px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  color: var(--icon-color_icon_secondary, #000);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
  padding-left: 14px;
}

.MO-nmo .search {
  display: flex;
  padding: 7px;
  align-items: flex-start;
}

.MO-nmo .body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 87px);
  align-items: flex-start;
  padding: 0px 0px;
  position: absolute;
  top: 87px; 
  left: 0;
  background-color: #ffffff;
  border-radius: 20px 20px 0px 0px;
  z-index: 2;
  overflow-y: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.MO-nmo .body-title-frame {
  display: flex;
  padding: 32px 16px 16px 16px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
}

.MO-nmo .body-title {
  color: var(--text-neutral_3, #66707A);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.MO-nmo .banner-frame {
  display: flex;
  width: 343px;
  height: 230px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  margin: 0 auto; 
  background-image: url('/res/img/banner2.svg'); 
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
  border-radius: 12px;
}

.MO-nmo .banner-type {
  color: var(--local-color-purple-3, var(--purple-3, #6D35DD));
  padding-top: 16px;
  text-align: center;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 16.5px */
}

.MO-nmo .banner-title {
  color: var(--text-color_text_neutral_6, #181A1B);
  width: 190px;
  padding-top: 4px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 21.6px */
  word-break: break-word; 
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MO-nmo .banner-period {
  color: var(--text-neutral_3, #66707A);
  padding-top: 120px;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 16.5px */
  letter-spacing: -0.055px;
}

.MO-nmo .discover-list-frame {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.MO-nmo .discover-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 12px 0px;
}

.MO-nmo .discover-img {
  width: 80px;
  height: 80px;
}

.MO-nmo .discover-text-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.MO-nmo .discover-text-title {
  overflow: hidden;
  color: #000;
  text-overflow: ellipsis;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */
  letter-spacing: -0.08px;
}

.MO-nmo .discover-text-detail {
  overflow: hidden;
  color: var(--text-neutral_3, #66707A);
  text-overflow: ellipsis;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 18px */
  letter-spacing: -0.06px;
}

.MO-nmo .divide {
  width: 100%;
  position: relative;
  height: 1px;
  background-color: var(--token-border-neutral-2);
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover; 
}
