//color
$color-primary: #9e4eff !important;
$color-secondary: #3b4044 !important;
$color-white: #fff !important;
$color-black: #000 !important;

$neutral0: #232425 !important;
$neutral1: #e7ebee !important;
$neutral2: #7f8a94 !important;
$neutral3: #66707a !important;
$neutral4: #a8b3bd !important;
$neutral5: #3b4044 !important;
$neutral6: #181a1b !important;
